*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
nav {
  background-color: #ffffff;
}
.navbar-brand img,
.offcanvas-title img {
  width: 11.458vw;
}
.nav-link {
  text-transform: capitalize;

}

.nav-link-btn button {
  color: white;
  background-color: #1d6697;
  padding: 10px;
  text-transform: capitalize;
  font-family: "Public Sans", sans-serif;
  border: none;
}
.hero {
  background: linear-gradient(#1d6697e0),
    url(/Images/Home-page/Hero-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero iframe {
  border-radius: 20px;
  height: 15.625vw;
}
.hero-img {
  height: 22.833vw;
  border-radius: 20px;
}
.get-card {
  text-transform: capitalize;
  background-color: white;
}
.get-started {
  background: url(/Images/Home-page/Get-Started-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 8px 0px #0000003d;
}

.get-started-text h2{
  font-size: 2.042vw;
  font-weight: 600;
}

.get-started-text p{
  font-size: 1.042vw;
}

.get-started-text button{
  padding: 0.521vw 3.125vw;
  background-color: #284292;
  color: white;
  border: none;
}
.get-started-in {
  background: linear-gradient(rgba(255, 255, 255, 0.803)),
    url(/Images/Home-page/Hero-background.png);
  border-radius: 40px;
  box-shadow: 0px 2px 6px 2px #3c404326;
  box-shadow: 0px 1px 2px 0px #3c40434d;
}
.get-card {
  border: 3px solid #1d8cbb;
  border-radius: 20px;
}
.get-card h2{
  font-size: 2.042vw;
  font-weight: 600;
}
.get-card p{
  font-size: 1.042vw;
}
.apply-btn-div button{
  background-color: #4EE6E7;
  border: none;
  padding: 0.26vw 0.521vw;
}
.get-card img {
  border-radius: 20px;
}

.about-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.733)),
    url(/Images/Home-page/About-down.png);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 20.833vw;
  border-radius: 20px;
  position: relative;
  color: white;
}
.about-img-2-text {
  width: 50%;
  padding: 20px;
}
.about-img-2-text h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.about-img-2-text p{
  font-size: 1.042vw;
}
.about-img-2-text button{
  padding: 0.521vw 3.646vw;
}
.about-img-1 {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 26.042vw;
  height: 26.042vw;
}
.about-img-1 img {
  border-radius: 50px 0px 50px 0px;
}
.about-icon {
  background-color: #b9f2f296;
}
.about-icon img {
  width: 100%;
}
.about-icon h5{
  font-size: 1.542vw;
  font-weight: 700;
  color: #284292;
}
.about-img-icon {
  width: 9.813vw;
  background-color: #1d8cbb;
  border-radius: 100%;
  padding: 30px;
}

.our-course {
  background-color: #ffffff;
  box-shadow: 0px 10px 50px 0px #0000001a;
}
.our-course h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.our-course h2{
  font-size: 2.042vw;
  font-weight: 700;
}
.our-course p{
  width: 80%;
  font-size: 1.042vw;
}
.our-course button{
  background-color: #1D6697;
  border: none;
  color: white;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 0.521vw 4.125vw;
}
.our-course-card .card-1 {
  background: linear-gradient(#284292, #1d6697, #049c9d);
  border-radius: 20px;
  color: white;
  text-align: center;
  height: fit-content;
}
.our-course-card .card-1 img {
  border-radius: 20px;
  height: 15.625vw;
}
.our-course-card .card-1{
  line-height: 25px;
}
.resources {
  display: flex;
  align-items: center;
  padding: 100px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px 0px #0000001a;
}
.resources-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#b9f2f2c1),
    url(/Images/Home-page/Resources-background.png);
  height: 24.229vw;
  position: relative;
  width: 100%;
}
.resources .resource-slick {
  position: absolute;
  top: -40px;
  right: 0px;
}
.resources-text{
  width: 30%;
}
.resources-text h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.resources-text p{
  font-size: 1.042vw;
}
.resources-card {
  background-color: #1d6697;
  border-radius: 20px;
}
.resources-card img {
  height: 18.625vw;
  object-fit: cover;
  border-radius: 10px;
}
  .resources-card-text h1 {
    text-align: center;
    font-size: 2.042vw;
  }
    .resources-card-text p {
      font-size: 1.042vw;
  }
.resources-card .resources-card-text {
  padding: 20px;
  color: white;
}

.slick-prev-custom,.slick-next-custom{
  font-size: 40px;
  background-color: transparent;
  border:none;
}
.test-rating img{
  width: 7.813vw;
}
.testimonals h1{
  font-size: 2.042vw;
}
.testimonals p{
  font-size: 1.042vw;
}
.testimonals h4{
   font-size: 1.642vw;
}

.contact-form {
 height: fit-content;
 padding: 100px 0;
}
.con-text {
  background: linear-gradient(#b9f2f2f0),
    url(/Images/Home-page/Contact-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100px 0 0 0;
  padding: 10px 30px;
  position: relative;
}
.con-text h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.con-text p{
  font-size: 1.042vw;
}
.form-holder {
  position: absolute;
  top: -30px;
  right: -10px;
  width: 40%;
}

.con-form {
  background-color: #073452;
  border-radius: 20px;
  color: #fff;
}
.con-form form {
  padding: 1.042vw 1.042vw;
}
.con-form button {
  background-color: #1d8cbb;
  color: white;
  border: none;
}

.footer {
  background: linear-gradient(#1d6697e4), url(/Images/Home-page/Footer-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.footer img {
  filter: grayscale(100%) brightness(500%);
  width: 17.458vw;
}
.footer li {
  list-style-type: none;
    font-size: 1.042vw;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 1.042vw;
}
.footer p{
  font-size: 1.042vw;
}
.footer h4{
  font-size: 2.042vw;
}
.footer h3{
  font-size: 2.042vw;
}
.footer button {
  border: none;
  border-bottom: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: 1.042vw;
}

/* About Page */
.about-hero {
  background: linear-gradient(#284292, #1d6697, #049c9d);
  border-radius: 0px 0px 100px 100px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  color: white;
}
.abt-img-con {
  background: linear-gradient(#284292, #1d6697, #049c9d);
  position: relative;
  width: 100%;
  height: 31.042vw;
  border-radius: 20px;
}
.abt-img-con img {
  position: absolute;
  top: -20px;
  left: 20px;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.welcome {
  height: fit-content;
}
.welcome h1{
  font-size: 3.042vw;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome p{
  font-size: 1.042vw;
}

.our-mission h1{
    font-weight: 700;
  text-transform: uppercase;
  font-size: 3.042vw;
}
.our-mission p{
  font-size: 1.042vw;
}
.why-us {
  height: 100vh;
}
.why-us h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.why-us p{
  font-size: 1.042vw;
}
.why-us-card {
  background-color: #1d8cbb;
  height: 300px;
  color: white;
  position: relative;
  border-radius: 20px;
}
.why-us-card ul {
  list-style-type: none;
}
.why-us-card .why-icon {
  background-color: #4ee6e7;
  padding: 20px;
  border-radius: 100%;
  position: absolute;
  top: -40%;
  box-shadow: 0px 24px 80px 0px #11111a1a;
  box-shadow: 0px 16px 56px 0px #11111a1a;
  box-shadow: 0px 8px 24px 0px #11111a1a;
}
.why-us-card .why-icon img {
  width: 7.813vw;
}
.why-us-card li{
  font-size: 1.042vw;
}
.fac-card-1{
    background: linear-gradient(#284292, #1d6697, #049c9d);
   color: white;
   height: 14.417vw;
   border-radius: 20px;
}
.faculties img{
  height: 100%;
}
.fac-card-1 h1{
  font-size: 2.342vw;
}
.fac-card-1 p{
  font-size: 1.342vw;
}
.memories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.our-memories h1{
  font-weight: 700;
  font-size: 2.042vw;
}

.memories-1 {
  grid-column: span 6 / span 6;
  grid-row: span 4 / span 4;
}

.memories-2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}

.memories-3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
}

.memories-4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 5;
}
.courses h1{
  font-size: 2.042vw;
  font-weight: 700;
}
.courses p{
  font-size: 1.042vw;
}
.our-courses-hero {
  background: linear-gradient(#284292, #1d6697, #049c9d);
  border-radius: 0px 0px 100px 100px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  color: white;
}
.course-card {
  background: linear-gradient(#2b2b2bc9),
    url(/Images/Our-Courses-images/Course-card-back.jpg);
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.course-card h4{
  font-size: 1.542vw;
}
.course-card h5{
  font-size: 1.742vw;
}
.course-card button {
  padding: 0.521vw;
  background-color: #aaf3f3;
  border: none;
  font-size: 1.042vw;
}
.resources-hero {
  padding-top: 90px;
}
.resources-hero h1{
  font-size: 3.042vw;
  font-weight: 400;
  color: #1D6697;
}
.resources-card-head{
  font-size: 3.042vw;
  font-weight: 400;
  color: white;
}
.resources-hero p{
  font-size: 1.042vw;
}
.resources-hero img {
  height: 26.041vw;
  border-radius: 20px;
}

.resources-card img{
  height: 18.554vw;
}
.contact-hero {
  background: linear-gradient(#284292D6,#1D6697F0,#46A7A7BD),url(/Images/Contact-image/Contact-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 120px;
}
.join-text h1{
  font-size: 2.542vw;
}
.join-text p{
  font-size: 1.042vw;
}
.phone-number h3{
  font-size: 1.042vw;
}
.phone-number h2{
  font-size: 1.042vw;
}

.address h3{
  font-size: 1.042vw;
}
.address p{
  font-size: 1.042vw;
}
.contact-box{
    background-color: white;
    border-radius: 10px;
}
.contact-box input{
    padding:10px;
    border: none;
    border-bottom: 2px solid black;
}
.phone-number button{
  padding: 0.521vw 2.604vw;
  background-color: transparent;
  color: white;
  font-size: 1.042vw;
  border: 2px solid white;
  border-radius: 10px;
}
.address button{
  padding: 0.521vw 0;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: transparent;
}
.contact-box form button{
   padding: 0.521vw 0;
    font-size: 1.042vw;
    background-color: #1D6697;
    color: white;
    border: none;
}
